*


!.gitignore


!cpp00/ex00
!cpp00/ex01
!cpp00/ex01/inc
!cpp00/ex01/src
!cpp00/ex02
!cpp00/Makefile
!cpp00/*.h
!cpp00/*.hpp
!cpp00/*.cpp


!cpp01/ex00
!cpp01/ex01
!cpp01/ex02
!cpp01/ex03
!cpp01/ex04
!cpp01/ex04/tests
!cpp01/ex04/tests/test*
cpp01/ex04/tests/test05.replace
!cpp01/ex05
!cpp01/ex06
!cpp01/Makefile
!cpp01/*.h
!cpp01/*.hpp
!cpp01/*.cpp


!cpp02/ex00
!cpp02ex01
!cpp02ex02
!cpp02ex03
!cpp02/Makefile
!cpp02/*.h
!cpp02/*.hpp
!cpp02/*.cpp


!cpp03/ex00
!cpp03/ex01
!cpp03/ex02
!cpp03/ex03
!cpp03/Makefile
!cpp03/*.h
!cpp03/*.hpp
!cpp03/*.cpp


!cpp04/ex00
!cpp04/ex01
!cpp04/ex02
!cpp04/ex03
!cpp04/Makefile
!cpp04/*.h
!cpp04/*.hpp
!cpp04/*.cpp


!cpp05/ex00
!cpp05/ex01
!cpp05/ex02
!cpp05/ex03
!cpp05/Makefile
!cpp05/*.h
!cpp05/*.hpp
!cpp05/*.cpp     


!cpp06/ex00
!cpp06/ex01
!cpp06/ex02
!cpp06/Makefile
!cpp06/*.h
!cpp06/*.hpp
!cpp06/*.cpp


!cpp07/ex00
!cpp07/ex01
!cpp07/ex02
!cpp07/Makefile
!cpp07/*.h
!cpp07/*.hpp
!cpp07/*.tpp
!cpp07/*.cpp


!cpp08/ex00
!cpp08/ex01
!cpp08/ex02
!cpp08/Makefile
!cpp08/*.h
!cpp08/*.hpp
!cpp08/*.tpp
!cpp08/*.cpp


!cpp09/ex00
!cpp09/ex00/test
!cpp09/ex01
!cpp09/ex01/test
!cpp09/ex02
!cpp09/Makefile
!cpp09/*.h
!cpp09/*.hpp
!cpp09/*.tpp
!cpp09/*.cpp
